@import '../../mixins';
@import '../../variables';

.paragraph {
    font-size: 28px;
    font-family: Georgia, serif;
    box-sizing: border-box; /* demonstrates Autoprefixer at work */
    @include calc(width, "100% - 100px"); /* demonstrates Sass at work */
}

.unmounted {
    composes: paragraph;
    background: yellow;
}

.mounted {
    composes: paragraph;
    background: pink;
}

.font_example {
    font-family: $serif;
    margin-top: 30px;
    
    :global(.wf-active) & {
        font-family: $droid;
    }
}