@import '../../mixins';
@import '../../variables';

.paragraph {
    font-size: 28px;
    font-family: Georgia, serif;
    box-sizing: border-box; /* demonstrates Autoprefixer at work */
    
    @include breakpoint(desktop) {
        font-size: 36px; /* demonstrates Sass at work */
    }
}

.unmounted {
    composes: paragraph;
    background: yellow;
}

.mounted {
    composes: paragraph;
    background: pink;
}

.font_example {
    font-family: $serif;
    margin-top: 30px;
    
    :global(.wf-active) & {
        font-family: $droid;
    }
}

.clearfix {
    @include clearfix;
    float: left;
    margin-top: 30px;
}