/* https://responsivedesign.is/develop/getting-started-with-sass */
@mixin breakpoint($point) {
    @if $point == desktop {
        @media (min-width: 1280px) { @content; }
    }
}

/* http://blog.teamtreehouse.com/a-better-clearfix-with-sass */
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}